<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="./ngHideAndShowController.js"></script>
</head>

<body ng-app="myApp">
    <input type="checkbox" ng-model="hideSlary">HideSalary
    <div ng-controller="NgShowAndNgHide">
            <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Gender</th>
                            <th>City</th>
                            <th ng-hide="hideslary">Salary</th>
                            <th ng-show="hideslary">Salary</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr ng-repeat="employee in employees | limitTo:rowLimit | orderBy:sortColumn:sortOrder" > -->
                        <tr ng-repeat="employee in employees" >
                            <td>{{ employee.name }}</td>
                            <td>{{ employee.city }}</td>
                            <td>{{ employee.gender }}</td>
                            <td ng-hide="hideSlary">{{ employee.salary }}</td>
                            <td ng-show="hideSlary">#####</td>
                        </tr>
                    </tbody>
                </table>
    </div>
</body>

</html>