<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="./app.js"></script>
</head>

<body ng-app="myApp">
    <div ng-controller="myController">
        {{ 10 + 20 }}
        <div> FirstName: {{ employee.firstName }}</div>
        <div> LastName: {{ employee.lastName }}</div>
        <div> Gender: {{ employee.gender }}</div>
        {{ message }}
        <hr>
        <div>
            <span>Name: {{ country.name }}</span><br>
            <span>Source: {{ country.source }}</span><br>
            <img ng-src="{{ country.path }}" alt="{{country.name + 'Flag'}}" style="height: 100px; width: 200px" /><br>
        </div>
        <hr>
        <div>
            <p>Two way binding</p>
            <input type="text" ng-model="greeting" /><br>
            <p>{{ greeting }}</p>
            <table>
                <tr>
                    <td>FirstName</td>
                    <td><input type="text" ng-model="employeeForDataBinding.firstName" /></td>
                    <td>{{ employeeForDataBinding.firstName }}</td>
                </tr>
                <tr>
                    <td>LastName</td>
                    <td><input type="text" ng-model="employeeForDataBinding.lastName" /></td>
                    <td>{{ employeeForDataBinding.lastName }}</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <!-- <td><input type="text" ng-model="employeeForDataBinding.gender"/></td> -->
                    <!-- <form> -->
                    Pick a Gender
                    <input type="radio" ng-model="employeeForDataBinding.gender" value="male">Male
                    <input type="radio" ng-model="employeeForDataBinding.gender" value="female">Female
                    <!-- </form> -->
                    <td>{{ employeeForDataBinding.gender }}</td>
                </tr>
            </table>
        </div>
        <hr>
        <div>
            <p>ng-repeat</p>
            <table>
                <thead>
                    <tr>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Gender</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="eachemployee in employeesForNgRepeat">
                        <td>{{ eachemployee.firstName }}</td>
                        <td>{{ eachemployee.lastName }}</td>
                        <td>{{ eachemployee.gender }}</td>
                        <td>{{ eachemployee.salary }}</td>
                    </tr>
                </tbody>
            </table>
            <p>ng-repeat with sub array / ng-repeat nested</p>
            <ul>
                <li ng-repeat="country in countries">
                    {{country.name}} - Index = {{ $index }}
                    <ul><li ng-repeat="eachCity in country.cities">{{eachCity.name}} - Parent Index - {{ $parent.$index }} , 
                        Index = {{ $index }}
                    </li></ul>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>