<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="./handlingEvents.js"></script>
    <link rel="stylesheet" type="text/css" href="./handlingEventsStyles.css">
</head>

<body ng-app="myApp">
    <div ng-controller="handlingEventsController">
        <table>
            <thead>
                <tr>
                    <th>Technolgy</th>
                    <th>Likes</th>
                    <th>Dislikes</th>
                    <th>Like/Dislike</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="eachTechnology in technologies">
                    <th>{{ eachTechnology.name }}</th>
                    <th>{{ eachTechnology.likes }}</th>
                    <th>{{ eachTechnology.dislikes }}</th>
                    <th>
                        <input type="button" value="like" ng-click="incrementLikes(eachTechnology)">
                        <input type="button" value="dislike" ng-click="incrementDisLikes(eachTechnology)">
                    </th>

                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>