<!DOCTYPE html>
<html>

<head>
    <title>Hnagman App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="./app.js"></script>
</head>

<body ng-app="HangmanApp">

    <div ng-controller="GameController">

        <div> Gusses Left :: {{ guesses }}</div>
        <div> Your Incorrect Guesses :: <span
                ng-repeat="incorrectLetter in incorrectLettersChosen">{{ incorrectLetter }}</span></div>
        <div> Your Correct Guesses :: <span ng-repeat="correctLetter in correctLettersChosen">{{ correctLetter }}</span>
        </div>

        <div>The word you gotta guess is : {{ displayWord }}</div>
        <div>
            <input type="text" name="guess" ng-model="input.letter">
            <button ng-click="letterChosen()">Submit</button>
        </div>
    </div>

</body>

</html>