<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="./filtersScript.js"></script>
    <!-- <link href="./filtersScript.css"></link> -->
    <link rel="stylesheet" type="text/css" href="./filterScript.css">
</head>

<body ng-app="myApp">
    <div ng-controller="filterController">
        Rows to Display : <input type="number" step="1" min="0" max="5" ng-model="rowLimit"><br/><br>
        Sort By: <select ng-model="sortColumn">
                    <option value="name">Name</option>
                    <option value="+salary">Salary</option>
                    <option value="dateOfBirth">Gender</option>
                </select>
        Order: <select ng-model="sortOrder">
                <option value="false">Ascending</option>
                <option value="true">Descending</option>
        </select>
        <table>
            <thead>
                <tr>
                    <th ng-click="sortData('name')">Name<span ng-class="getSortClass('name')"></span></th>
                    <th ng-click="sortData('dateOfBirth')">DOB<span ng-class="getSortClass('dateOfBirth')"></span></th>
                    <th ng-click="sortData('gender')">Gender<span ng-class="getSortClass('gender')"></span></th>
                    <th ng-click="sortData('salary')">Salary(number)<span ng-class="getSortClass('salary')"></span></th>
                    <th ng-click="sortData('salary')">Salary(currency)<span ng-class="getSortClass('salary')"></span></th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr ng-repeat="employee in employees | limitTo:rowLimit | orderBy:sortColumn:sortOrder" > -->
                <tr ng-repeat="employee in employees | limitTo:rowLimit | orderBy:sortColumn:reverseSort" >
                    <td>{{ employee.name | uppercase }}</td>
                    <td>{{ employee.dateOfBirth | date: "dd/MM/yyyy" }}</td>
                    <td>{{ employee.gender| lowercase }}</td>
                    <td>{{ employee.salary| number:2 }}</td>
                    <td>{{ employee.salary| currency:"Pound":1 }}</td>
                </tr>
            </tbody>
        </table>


        <p><b>CUSTOM FILTER</b></p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr ng-repeat="employee in employees | limitTo:rowLimit | orderBy:sortColumn:sortOrder" > -->
                <tr ng-repeat="employee in customEmployees" >
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.gender | genderfilter }}</td>
                    <td>{{ employee.salary }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>